<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">/opt/searchapi/</Property>
    </Properties>
    <!--Appenders-->
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c %M %L - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <RollingFile name="App-File-Appender" fileName="${log-path}/search_app_log.log" filePattern="${log-path}/app_log.log.%i">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c %M %L - %msg%n
                </pattern>
            </PatternLayout>

            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <RollingFile name="sql-query-Appender" fileName="${log-path}/sql_query_app_log.log" filePattern="${log-path}/app_log.log.%i">
            <PatternLayout>
                <pattern>
                    %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>


        <RollingFile name="SpringBoot-File-Appender" fileName="${log-path}/solrsearch_springboot_log.log" filePattern="${log-path}/springboot_log.log.%i" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c %M %L - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>


        <Raven name="Sentry">
            <dsn>
                http://207bde40458f4772a30892f55e3d3b5c:1a40611afff04d53aeee5c21a53f308c@sentry.helpchat.in:9000/43
            </dsn>
        </Raven>

    </Appenders>


    <!--loggers-->
    <Loggers>
        <Logger name="com.apple" level="debug" additivity="false">
            <AppenderRef ref="App-File-Appender"/>
            <AppenderRef ref="Sentry" level="error"/>
        </Logger>
        <Logger name="org.springframework.web" level="debug" additivity="false">
            <AppenderRef ref="SpringBoot-File-Appender"/>
            <AppenderRef ref="App-File-Appender"/>
        </Logger>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="sql-query-Appender"/>
            <AppenderRef ref="App-File-Appender"/>
        </Logger>
        <Root>
            <AppenderRef ref="App-File-Appender"/>
        </Root>
    </Loggers>
</Configuration>


